body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(https://www.dhresource.com/0x0s/f2-albu-g7-M00-93-A3-rBVaSVtrvyeAaAnfAAOkDQeltRA095.jpg/white-gray-marble-textured-photography-backdrop.jpg) fixed;
}

a {
  color: #9E9262;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin: 15px;
}

button {
  background-color: #F7BDBC;
  margin-right: 10px;
}